# Copy this file to ibm-credentials.env and fill in your credentials
NATURAL_LANGUAGE_UNDERSTANDING_APIKEY=your-api-key-here
NATURAL_LANGUAGE_UNDERSTANDING_URL=your-url-here
NATURAL_LANGUAGE_UNDERSTANDING_AUTH_TYPE=iam